@media screen {
  main {
    width: fit-content;
    margin: 0 auto;

    .contents__wrapper {
      .title__outer {
        padding: calc(30 / 750 * 100vw);

        h1 {
          font-size: calc(32 / 750 * 100vw);
          font-weight: bold;
          text-align: center;
        }
      }

      .contents {
        margin: 0 auto;
        background-color: lightblue;
        width: 90%;
        height: 70vh;
        overflow-y: scroll;
        padding: 5%;
        
        .msg {
          padding: calc(15 / 750 * 100vw);
          width: 40%;
          height: fit-content;
          background-color: #fff;
          border-radius: 2vw;
          margin-left: 55%;
          
          p {
            font-size: calc(16 / 750 * 100vw);
            line-height: 1.5;
          }
          
          &:not(.msg:first-of-type) {
            margin-top: calc(30 / 750 * 100vw);
          }
          
          &:not(.msg:nth-of-type(even)) {
            margin-left: 0;
          }
          
        }
        
        .user-msg {
          
        }
        .ai-msg {
          
        }
      }
    }
    
    .input__wrapper {
      width: 90vw;
      margin: calc(60 / 750 * 100vw) auto 0;
      h2 {
        font-size: calc(28 / 750 * 100vw);
      }
      input {
        margin-top: calc(30 / 750 * 100vw);
      }
      .btn__outer {
        margin-top: calc(30 / 750 * 100vw);
      }
    }
  }
}