@media screen {
  main {
    width: fit-content;
    margin: 0 auto;

    .contents__wrapper {
      .title__outer {
        padding: calc(30 / 750 * 100vw);

        h1 {
          font-size: calc(32 / 750 * 100vw);
          font-weight: bold;
          text-align: center;
        }
      }

      .contents {
        margin: 0 auto;
        background-color: lightblue;
        width: 90vw;
        height: calc(1000 / 750 * 100vw);
        padding: calc(30 / 750 * 100vw);
        
        .user-msg, .ai-msg {
          padding: calc(15 / 750 * 100vw);
          width: 45vw;
          height: fit-content;
          background-color: #fff;
          border-radius: 2vw;
          
          p {
            font-size: calc(16 / 750 * 100vw);
          }
          
          &:not(.user-msg:first-of-type, .ai-msg:first-of-type) {
            margin-top: calc(30 / 750 * 100vw);
          }
        }
        
        .user-msg {
          
        }
        .ai-msg {
          
        }
      }
    }
    
    .input__wrapper {
      width: 90vw;
      margin: calc(60 / 750 * 100vw) auto 0;
      h2 {
        font-size: calc(28 / 750 * 100vw);
      }
      input {
        margin-top: calc(30 / 750 * 100vw);
      }
      .btn__outer {
        margin-top: calc(30 / 750 * 100vw);
      }
    }
  }
}