@media screen {
  main {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  main .contents__wrapper .title__outer {
    padding: 4vw;
  }
  main .contents__wrapper .title__outer h1 {
    font-size: 4.2666666667vw;
    font-weight: bold;
    text-align: center;
  }
  main .contents__wrapper .contents {
    margin: 0 auto;
    background-color: lightblue;
    width: 90%;
    height: 70vh;
    overflow-y: scroll;
    padding: 5%;
  }
  main .contents__wrapper .contents .msg {
    padding: 2vw;
    width: 75%;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #fff;
    border-radius: 2vw;
    margin-left: 85%;
  }
  main .contents__wrapper .contents .msg p {
    font-size: 2.1333333333vw;
    line-height: 1.5;
  }
  main .contents__wrapper .contents .msg p:nth-of-type(2) {
    margin-top: 4vw;
  }
  main .contents__wrapper .contents .msg:not(.msg:first-of-type) {
    margin-top: 4vw;
  }
  main .contents__wrapper .contents .msg:not(.msg:nth-of-type(even)) {
    margin-left: 0;
  }
  main .contents__wrapper .contents .user-msg {
    width: 10%;
  }
  main .contents__wrapper .contents .ai-msg:last-of-type p:nth-of-type(2) {
    margin-top: 0;
  }
  main .input__wrapper {
    width: 90vw;
    margin: 8vw auto 0;
  }
  main .input__wrapper h2 {
    font-size: 3.7333333333vw;
  }
  main .input__wrapper input {
    margin-top: 4vw;
  }
  main .input__wrapper .btn__outer {
    margin-top: 4vw;
  }
}